<div class="bg-secondary-subtle d-flex justify-content-center align-items-center py-4 vh-100">
  <section class="bg-white max-width rounded-4">
    <div class="container-fluid">
      <div class="row height-login">
        <div class="col-12 col-md-6 text-black">

          <div class="py-4 d-flex flex-column justify-content-center h-100">
            <h1 class="px-5 ms-xl-4 mb-5 h1 fw-bold text-center">
              CM Garments
            </h1>
            <div class="d-flex align-items-center mx-4">

              <form style="width: 23rem;" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <h3 class="fw-normal mb-4 pb-4 text-center fs-4 fw-semibold">Inicio de Sesión</h3>

                <div class="form-floating mb-4">
                  <input type="email" formControlName="email" class="form-control" id="floatingInput"
                    placeholder="name@example.com">
                  <label for="Email">Correo electrónico</label>
                </div>


                <div class="form-floating mb-4">
                  <input type="password" formControlName="password" class="form-control" id="floatingPassword"
                    placeholder="*********">
                  <label for="Contraseña">Contraseña</label>
                </div>

                <div class="pt-3 mb-4">
                  <button data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-info btn-lg btn-block d-block w-100 btn__bg-login text-white"
                    type="submit" [disabled]="loginForm.invalid">INGRESAR</button>
                </div>

                <p class="small mb-5 pb-lg-2"><a class="text-primary" routerLink="/auth/register">Olvidé mi
                    contraseña?</a></p>
              </form>

            </div>
          </div>

        </div>
        <div class="col-md-6 px-0 d-none d-md-block height-login">
          <img class="object-fit-cover object-position-left h-100 w-100 rounded-end-4"
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp" alt="">
        </div>
      </div>
    </div>
  </section>
</div>