<nav aria-label="Page navigation example">
  <ul class="pagination gap-2">
    <li class="page-item">
      <button class="page-link border-0" aria-label="Previous" (click)="onClickBtnNextAndPrevious(false)">
        <span aria-hidden="true">&laquo;</span>
      </button>
    </li>
    @if (pagination().showStart) {
    <li class="page-item me-2">
      <button class="page-link border-0 bg-body-secondary bg-opacity-75 rounded-3" (click)="onClickBtnPagination(1)">
        1
      </button>
    </li>
    }
    <li class="page-item">
      <button class="page-link border-0 bg-body-secondary bg-opacity-75 rounded-3"
        [ngClass]="[pagination().first === pagination().page ? 'activate' : '']"
        (click)="onClickBtnPagination(pagination().first)">
        {{pagination().first}}
      </button>
    </li>
    @if (pagination().showSecond) {
    <li class="page-item">
      <button class="page-link border-0 bg-body-secondary bg-opacity-75 rounded-3"
        [ngClass]="[pagination().second === pagination().page ? 'activate' : '']"
        (click)="onClickBtnPagination(pagination().second)">
        {{pagination().second}}
      </button>
    </li>
    }
    @if (pagination().showEllipsis) {
    <li class="page-item d-flex align-items-end"><span class="page-link border-0 rounded-3 px-1">...</span></li>
    }
    @if (pagination().showFinal) {
    <li class="page-item">
      <button class="page-link border-0 bg-body-secondary bg-opacity-75 rounded-3"
        [ngClass]="[pagination().final === pagination().page ? 'activate' : '']"
        (click)="onClickBtnPagination(pagination().final)">
        {{pagination().final}}
      </button>
    </li>
    }
    <li class="page-item">
      <button class="page-link border-0" aria-label="Next" (click)="onClickBtnNextAndPrevious(true)">
        <span aria-hidden="true">&raquo;</span>
      </button>
    </li>
  </ul>
</nav>
