<div class="container">
  <h2 class="main-title">Categorías</h2>
  <div class="row">
    <div class="px-3">
      <!-- ? Table -->
      <div class="py-3 px-3 bg-white rounded-3">
        <app-table [theader]="tableHeader">
          @for (category of categories(); track category.id) {
          <tr>
            <th scope="row">{{category.id}}</th>
            <td>{{ category.name }}</td>
            <td>{{category.desc}}</td>
            <td>{{category.createdAt}}</td>
            <td class="tbutton-max-with">
              <div class="d-flex justify-content-evenly">
                <button type="button" class="btn btn-outline-success rounded-4"><i class="bi bi-eye-fill"></i></button>
                <button type="button" class="btn btn-primary rounded-4" (click)="openEditDialog(category.id)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button type="button" class="btn btn-danger rounded-4"><i class="bi bi-trash3-fill"></i></button>
              </div>
            </td>
          </tr>
          }
        </app-table>
        <p class="text-end pe-2 pt-2">Total de categorías: {{pagination().totalItems}}</p>
        <div class="d-flex justify-content-center pt-2">
          <app-table-pagination [pagination]="pagination()" (emitChangePage)="getCategories($event)" />
        </div>
      </div>
    </div>
  </div>
</div>